body{
    margin: 0 auto;
    height: 100%;
    font-family: arial,sans-serif;
    font-size: 12px;
    line-height: 1.6;
    background: url("../Image/background.jpg");
}
.body_page{
    padding: 0;
    margin: 0 auto;
    width: 1000px;
    background-color: #D9D9D9;
}
/*Style của phần menu top*/
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #367889;
    text-decoration: underline;
}
.nav{
    margin-top: 0;
}
.main_menu ul{
    padding: 0;
}
.main_menu {
    background: url("../Image/bg-mainmenu1.png") repeat-x scroll left center rgba(0, 0, 0, 0);
    border-bottom: 3px solid #FFFFFF;
    border-top: 2px solid #999999;
    height: 45px;
    margin: 0 auto;
    width: 100%;
}
.main_menu ul.nav li {
    display: block;
    float: left;
    height: 45px;
    line-height: 45px;
    list-style: none outside none;
    padding-right: 2px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.main_menu ul.nav li:last-child {
}
.main_menu ul.nav li a {
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    padding: 0 8px;
}
.main_menu ul.nav li a:hover {
    background: url("../Image/bg-li-mainmenu-hover.png") repeat-x scroll left top rgba(0, 0, 0, 0);
}
.main_menu ul.subnav {
    background: none repeat scroll 0 0 #7C7C7C;
    display: none;
    position: absolute;
    top: 45px;
    width: 210px;
    z-index: 9999;
}
.main_menu ul.nav li:hover ul {
    display: block;
}
.main_menu ul.nav li ul.subnav li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px dotted #FFFFFF;
    display: block;
    height: 35px;
    line-height: 35px;
    padding: 0;
    text-transform: none;
    width: 100%;
}
.main_menu ul.nav li ul.subnav li:hover {
    background: none repeat scroll 0 0 #C6280D;
}
.main_menu ul.nav li ul.subnav li a {
    display: block;
    font-weight: bold;
    padding-left: 10px;
    text-align: left;
}
.main_menu ul.nav li ul.subnav li a:hover {
    background: none repeat scroll 0 0 #C6280D;
}
.main_menu ul.nav li ul#subnav_news {
    width: 250px;
    padding: 0px;
}
#NewSearchForm {
    position: relative;
}
#NewSearchForm input{
    margin-top: 10px;
}
#NewSearchForm .input, #NewSearchForm .submit {
    display: block;
    float: left;
}
#NewSearchForm .submit {
    margin-left: 5px;
    /*margin-top: 10px;*/
}
/*Style của bottom*/
#bottom-menu {
    background-color: #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 3px;
    display: block;
    height: 30px;
    width: 980px;
    margin-left: 10px;
    margin-top: 5px;
}
#bottom-menu ul {
    display: block;
    height: 30px;
    margin: 0 auto;
    width: 100%;
    padding: 0;
}
#bottom-menu ul li {
    float: left;
    line-height: 30px;
    list-style: none outside none;
    padding: 0 10px;
}
.text_bottom{
    margin-top: 5px;
    margin-left: 15px;
}
.text_bottom div{
    padding: 5px;
    color: #535353;
}
.text_bottom .Copyright{
    font-size: 13px;
    font-weight: bold;
}
.text_bottom div a{
    color: #000000;
}
/*Style của phần banner*/
.banner{
    margin: 0 auto;
    background: url("../Image/banner.png") ;
    width: 1000px;
    height: 185px;
}
/*Style phần tin mới*/
#feature-news {
    background: url("../Image/bg-feature-news.png") repeat-x scroll left center #393939;
    height: 31px;
    line-height: 31px;
    width: 100%;
    margin-bottom: 5px;
}
#feature-news span {
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 0 10px;
    text-transform: uppercase;
}
#feature-news a {
    color: #FFFFFF;
    font-weight: normal;
}
ul#easyticker {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    width: 930px;
}
ul#easyticker, .imageTicker {
    height: 30px;
    overflow: hidden;
    position: relative;
}
ul#easyticker li, .imageTicker li {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}
ul#easyticker li {
    padding: 0 10px;
}
/*Style body page*/
.body_left{
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin-right: 5px;
    position: relative;
    width: 715px;
    min-height: 1943px;
}
.body_right{
    min-height: 1943px;
    width: 280px;
    float: right;
    margin-right: 0;
    background: none repeat scroll 0 0 #FFFFFF;
    position: relative;
    padding: 0;
}
.body{
    margin: 0 auto;
    width: 1000px;
}
#lastest-news {
    background: none repeat scroll 0 0 #ffffff;
    clear: both;
    display: block;
    height: auto;
    margin-bottom: 1px;
    width: 100%;
}
#main-lastest {
    float: left;
    padding: 10px;
    width: 380px;
}
#main-lastest img {
    border: 2px solid #ffffff;
    clear: both;
    display: block;
    outline: 1px solid #dadada;
}
#main-lastest .main-title-lastest {
    color: #323232;
    display: block;
    padding-top: 10px;
}
#main-lastest .main-title-lastest a {
    color: #333333;
    display: inline;
    font-size: 18px;
}
#main-lastest .desc-lastest {
    color: #333333;
    display: block;
    font-size: 12px;
    padding-top: 15px;
}
#feature-lastest {
    float: right;
    padding: 10px 10px 10px 0;
    width: 300px;
}
#title-feature-lastest {
    background: url("../Image/bg-feature-lastestnews.png") repeat scroll left center transparent;
    color: #fe8800;
    display: block;
    float: right;
    font-size: 18px;
    font-weight: bold;
    height: 17px;
    text-align: right;
    text-transform: uppercase;
    width: 100%;
}
#title-feature-lastest span {
    background-color: #ffffff;
    line-height: 17px;
    padding-left: 5px;
}
#title-feature-lastest span a{
    color:#FE9954;
}
#ul-lastestnews li {
    clear: both;
    display: block;
    list-style: none outside none;
    padding: 10px 0;
    margin-left: -38px;
}
#ul-lastestnews{
    margin-left: 0px;
}
#ul-lastestnews li img {
    border: 2px solid #ffffff;
    float: left;
    height: 45px;
    margin-right: 8px;
    outline: 1px solid #dadada;
    width: 60px;
}
#ul-lastestnews li a {
    color: #000000;
    display: block;
}
ul, li{
    list-style: none outside none;
    margin: 0 auto;
}
.crl{
    clear: both;
    display: block;
}
.adv-cent {
    margin: 0 auto 5px;
    width: 100%;
}
.news-tab-block {
    border-bottom: 1px solid #e8e8e8;
    margin: 0 auto;
    width: 100%;
}
.tab-news-desc {
    font-family: Arial;
    font-size: 12px;
}
.vs_blocks {
    float: left;
    height: 320px;
    margin-bottom: 10px;
    overflow: hidden;
    padding-left: 10px;
    width: 48%;
}
.vs_blocks_bottom {
    float: left;
    height: 160px;
    margin-bottom: 10px;
    overflow: hidden;
    padding-left: 10px;
    width: 98%;
}
.vs_gallerys {
    width: 97%;
}
.vs_title {
    background: url("../Image/bg-tab-a.png") no-repeat scroll left center transparent;
    color: #333333;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    width: 100%;
}
.vs_title a {
    background: url("../Image/bg-news-title-home.png") repeat-x scroll right center transparent;
    color: #333333;
    display: block;
    font-size: 13pt;
    font-weight: bold;
    margin-left: 15px;
}
.vs_title a span {
    background-color: #ffffff;
    display: inline-block;
    padding: 0 5px;
}
.vs_content_block {
    background: url("../Image/bg-news-home.png") repeat-x scroll left top transparent;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    text-align: justify;
}
.vs_content_block img {
    border: 1pt solid #ccc;
    border-radius: 4px;
    float: left;
    height: 80px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 2px;
    width: 100px;
}
.vs_content_block .vs_title_content {
    font-weight: bold;
    padding-bottom: 5px;
}
.vs_content_block p {
    color: #894487;
    min-height: 105px;
}
.vs_others_content {
    border-top: 1px dotted #d7d7d7;
    display: block;
    padding-top: 5px;
    width: 100%;
}
.vs_others_content li {
    color: #c00000;
    list-style: square outside none;
    margin-left: 15px;
}
.vs_others_content a {
    clear: both;
    color: #333333;
    display: block;
    font-family: Arial,"MS Trebuchet",sans-serif;
    font-size: 12px;
}
.vs_others_content a span {
    color: #8a8a8a;
    font-style: italic;
}
/*Chi tiết tin tức*/
#breadcrumb {
    background-color: #f4f4f4;
    border-bottom: 1px solid #c3c3c3;
    color: #333;
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    padding: 0;
    width: 100%;
}
#breadcrumb a {
    color: #333;
}
.breadcrumb-home {
    background: #F4F4F4;
    color: #333;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 2px;
}
.breadcrumb-home a {
    color: #333;
}
.content {
    font-size: 12px;
    padding: 0 10px 10px;
    text-align: justify;
}
.aticle-title {
    color: #000000;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
}
.aticle-content {
    color: #1b1b1b;
    display: block;
    padding: 0 15px;
    text-align: justify;
}
.aticle-content *:first-letter {
}
.other-aticle {
    /*background: url("../img/site/bg-other-aticle.png") no-repeat scroll center top transparent;*/
    clear: both;
    width: 100%;
}
.other-aticle-title {
    color: #000000;
    font-size: 13pt;
    font-weight: bold;
    padding: 15px;
}
.vs_others_content li{
    padding: 0px;
}
.other-aticle ul {
    margin-left: 45px;
}
.other-aticle ul li {
    color: #ba0100;
    list-style: square outside none;
}
.other-aticle ul li a {
    color: #333333;
}
.find-bydate {
    display: block;
    float: right;
    margin: 15px 15px 15px 0;
    width: 330px;
}
.find-bydate form select {
    margin: 0 2px;
    padding: 2px 0 2px 5px;
}
.find-bydate form .submit {
    display: inline;
}
/*body right*/
#notice-sidebar {
    display: block;
    margin: 0 auto;
    overflow: auto;
    width: 100%;
}
#notice-sidebar #title-notice-s {
    border-bottom: 1px solid #d9d9d9;
    height: 35px;
    line-height: 35px;
    width: 100%;
}
#notice-sidebar #title-notice-s span {
    background: url("../Image/icon-notice.png") no-repeat scroll left center transparent;
    color: #ff9900;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    padding-left: 30px;
    text-transform: uppercase;
}
#content-notice-s {
    clear: both;
    display: block;
}
#title-cont-s {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}
#title-cont-s a {
    color: #333333;
}
#desc-cont-s {
    color: #3c3c3c;
    line-height: 1.8;
    padding: 10px;
    text-align: justify;
}
#desc-cont-s:first-letter {
    color: #ff0000;
    font-size: 14px;
    font-weight: bold;
    padding-left: 25px;
}
#links {
    border-top: 5px solid #d9d9d9;
}
#links p {
    color: #fe8800;
    font-family: arial;
    font-size: 16px;
    margin-left: 22px;
    padding: 5px;
}
#luongtruycap {
    color: #f00;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    width: 120px;
}
#advertising {
    margin: 0 auto;
    width: 100%;
}
#advertising a {
    display: inline;
    float: left;
    padding-left: 5px;
    width: 48%;
}
#advertising a img {
    clear: both;
    height: 100px;
    padding: 5px 0;
    width: 130px;
}
/*NewsPage style*/
.itemcat {
    border: 1px solid #e6e6e6;
    margin: 5px auto;
    position: relative;
    width: 100%;
    height: 338px;
}
.itemcat h3 {
    border-bottom: 1px solid #aaaaaa;
    display: block;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    text-align: left;
    text-transform: uppercase;
    margin: 0 auto;
}
.itemcat h3 a {
    color: #ff2700;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}
.itemcat h3 a:hover {
    color: #d10005;
    text-decoration: none;
}
.cathomecontent {
    background-color: #f7f7f7;
    float: left;
    width: 100%;
    height: 312px;
}
.itemleft {
    border-right: 1px solid #dddddd;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 390px;
    height: 312px;
}
.itemleft:first-child {
    margin-top: 10px;
}
.itemleft h4 {
    font: bold 12px Arial,Helvetica,sans-serif;
    padding-bottom: 6px;
    margin: 0 auto;
}
.fi-content {
    display: block;
    font: 12px Arial,Helvetica,sans-serif;
    margin-bottom: 15px;
}
.fi-content img {
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    float: left;
    margin: 0 6px 0 0;
    padding: 2px;
}
.itemleft ul li {
    background: #F7F7F7;
    color: #999999;
    float: left;
    padding: 3px 0 3px 10px;
    width: 100%;
    margin: 0 auto;
}
.itemleft ul li a {
    color: #004370;
    font: 12px Arial,Helvetica,sans-serif;
    outline: medium none;
    text-decoration: none;
}
.itemleft ul li span {
    font: 12px Arial,Helvetica,sans-serif;
}
.itemtright {
    float: right;
    padding: 2%;
    text-align: justify;
    width: 36%;
}
.itemtright h4 {
    font: bold 12px Arial,Helvetica,sans-serif;
    padding: 5px 0;
    text-align: left;
    margin: 0 auto;
}
.itemtright img {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 140px;
    padding: 2px;
    width: 250px;
}
.itemtright p {
    font: 12px Arial,Helvetica,sans-serif;
}
/*NewsCatalogPage style*/
.item-news-header {
    border: 3px solid #dddddd;
    margin-top: 10px;
    padding: 2px;
    height: 180px;
}
.item-news-header .tieude {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}
.item-news {
    border-bottom: 1px dotted #d2d2d2;
    font-size: 12px;
    margin: 0 20px;
    padding: 5px 0;
    text-align: justify;
    height: 125px;
}
.item-news .tieude {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
}
.item-news .tieude:first-letter {
    padding: 0;
}
.text {
    color: #8a4389;
}